* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

article {
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center; */
  background-color: #fafafa;
  color: #505050;
}

li {
  list-style: none;
}

a:link, a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}


section.item {
  /* color: #343239; */
  /* background-color: #e3e1e3; */
  /* border-left: 2px solid;
  border-bottom:2px solid;
  border-radius: 5px; */
  /* border-style: solid; */
  /* width: 960px;
  margin: 0 auto; */
  font-size: 1.3em;
}

/* section.item:first-of-type {
  width: inherit;
} */

section.item h2 {
  /* color: #3bbfc3; */
  /* border-bottom: # */
  display: flex;
  justify-content: center;

  margin: 50px 0 50px 0;
}

section.item:first-of-type h2 {
  margin-top: 0;
}

.content > div {
  /* margin-bottom: 15px; */
}

.profile .content {
  position: relative;
  /* overflow: hidden; */
}

.profile-header {
  background-color: #4f4f4f;
  margin-bottom: 10px;
  height: 200px;

  /* position: relative; */
}


.portrait {
  /* float: right; */
  /* background-color: #FF00FF; */
  position: absolute;
  top: 110px;
  left: 50%;

}

.portrait img{
  /* display: block; */
  width: 180px;
  height: 180px;

  margin-left: -90px;
  /* height: 100px; */
  border: 3px solid #ffffff;
  /* border-bottom: # */
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.profile-detail {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  /* overflow: visible; */
}

.profile-detail .social {
  padding-top: 100px;
  font-size: 1.2em;
  /* position: relative; */
  /* height: 10px; */
}

.profile-content {
  padding-top: 15px;
}

.profile-content .name {
  font-size: 2.0em;
}

.profile-detail .social li {
  display: inline;
  /* height: 20px; */
  margin-right: 5px;

}

/* 微信二维码显示 */

li.weixin {
  /* position: relative; */
}

li.weixin div {
  position: absolute;
  display: none;
  z-index: 2;
}

li.weixin:hover div, li.weixin:focus div {
  display: block;
}



/* .project .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
} */
.school-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 20px;
}

.school-info .school {
  font-size: 1.5em;
}

.school-info .during {
  font-size: .8em;
  order: 1;
}

.course {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  /* margin: 0 5%; */


  /* font-size: .8em; */
}

.course .main-course {
  order: 1;
}

.course .certificate {
  order: 2;
}

.main-course, .sub-course, .certificate {
  margin: 3% 4%;
  padding: 30px 8px;
}


.course h3 {
  display: inline;
  position: relative;
  top: 13px;
  left: 5%;
  z-index: 1;

  background-color: #fafafa;
}

.course .course-list {
  /* width: 200px; */
  /* height: 200px; */
  border: 3px solid #191919;
  border-radius: 5px;

  padding: 10px 5px;

  /* box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.2); */

  font-size: 1.5em;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.course .course-list li {
  /* align-content: space-around; */
}

.project .content {
  /* float: left; */
  overflow: hidden;

  padding: 10px 0 5px 0;
}

/* .time-line {
  margin: 0 auto;

  width: 2px;

  background-color: #191919;

} */
.project-list {
  border-left: 2px solid #191919;
  /* border-collapse: collapse; */

  position: relative;
  margin-left: 5%;
  /* margin-top: -5px; */
  /* overflow: hidden; */
}

.project-list .timeline-circle {
    /* overflow: visible; */
    position: absolute;
    left: -1.1%;
    top: -1.1%;
    z-index: 1;
}

.project-list .timeline-time {
  /* margin-left: 5%; */
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 1;
}

.project-list .timeline-content {
  margin-bottom: 6%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 1200px) {
    .course {
      flex-direction: row;
      /* justify-content: space-around; */
      /* height: 500px; */
      margin: 0 5%;

      /* font-size: .8em; */
    }

    .course .course-list {
      height: 400px;
    }

    .main-course, .sub-course, .certificate {
      /* height: 400px; */
    }

  .project-list {
    width: 50%;

    position: relative;

    border: none;
    margin-left: 0;
    overflow: visible;
    float: left;
    clear: both;

    /* margin-left: 30px; */
  }

  .project-list:nth-child(odd) {
    border-right: 2px solid #191919;
    /* clear: both; */
  }

  .project-list:nth-child(even) {
    float: right;
    border-left: 2px solid #191919;
    /* border-top: 0;
    border-bottom: 0;
    border-right: 0; */
    margin-right: 2px;
    /* margin-right: 30px; */
  }

  .project-list .timeline-circle {
    position: absolute;
    /* top: 2px; */
    left: 99%;
  }

  .project-list:nth-child(even) .timeline-circle {
    left: -1.2%;
  }

  .project-list .timeline-time {
    position: absolute;
    left: 99%;
    top: 50%;
    background-color: #fafafa;
    z-index: 1;
  }

  .project-list:nth-child(even) .timeline-time {
    left: -1.2%;
  }
}



/* .timeline-time span{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */

/* .time-line svg {
  position: relative;
  left: -8px;
} */

.timeline-content {
  background-color: #ffffff;
  /* box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); */
  /* width: 100%; */

  margin: 0 10%;
}

.timeline-content h3 {
  background-color: #424242;
  color: #ffffff;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
}

.timeline-content .position {
  float: left;
  margin-bottom: 5px;
  /* display: inline; */
  /* clear: none; */
}

.timeline-content .skill {
  float: right;
  /* clear: both; */
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .timeline-content .skill {
    display: block;
    float: none;
    clear: both;
  }

  .project-list .timeline-circle {
    left: 98.9%;
  }

  .project-list:nth-child(even) .timeline-circle {
    left: -1.31%;
  }
}

@media only screen and (max-width: 640px) {
  .timeline-content .skill {
    float: none;
    clear: both;
  }
}

.timeline-content .main-job {
  clear: both;
}

.timeline-content .main-job p {
  /* display: none; */
  /* position: absolute;
  top: 40%;
  right: 50%;
  width: 300px;
  z-index: 1; */
  margin-bottom: 5px;
  line-height: 1.5em;
}

/* .timeline-content:hover .main-job p {
  display: block;
} */

.timeline-content .content-detail {
  padding: 0 10px;
}

.timeline-content li {
  list-style: lower-alpha;
  list-style-position: inside;
  list-style-type: lower-greek;
  margin: 2px 10px 5px 5px;
}


.award .content, .language-skill .content ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  align-items: center;

  margin: 0 5%;
  /* justify-content: center; */
}
